#include <dt-bindings/zmk/matrix_transform.h>
#include "roBa.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform;
    };

    /* ダミーのキースキャンノード */
    mock_kscan: mock_kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

/* roBa.dtsi 側で定義されている未完成の /kscan ノードを無効化 */
/kscan {
    status = "disabled";
};
